<h5>Exemplo de pipes</h5>

<p>Título: {{livro.titulo |camelCase}}</p>
<p>Estrelas: {{livro.rating |number:'1.1-2'}}</p>
<p>Páginas: {{livro.numeroPaginas|number}}</p>
<p>Preço: {{livro.preco|currency:'BRL'}}</p>
<p>Data Lançamento: {{livro.dataLancamento|date:'dd-MMM-yyyy'}}</p>
<p>Url: {{livro.url}}</p>
<br>
<p>Livro {{livro|json}}</p>
<br>
<input type="text" [ngSwitch]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add curso</button>
<ul>
    <li *ngFor="let liv of livros |filtroArray:'filtro'"> {{ liv }}</li>
</ul>